@model MvcStok.Models.Entity.Tblmusteri
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<form method="post">
    <h2>Yeni Müşteri Ekleme</h2>
    <br />
    <label>Müşteri Adı</label>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />

    <label>Müşteri</label>
    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
    <br />

    <label>Şehir</label>
    @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control" })
    <br />

    <label>Bakiye</label>
    @Html.TextBoxFor(x => x.Bakiye, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>



