@model MvcStok.Models.Entity.TblKategoriler
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h2>Yen Kategori Ekleme</h2>
    <br />
    <label>Kategori Adı</label>
    <br />
    <input type="text" class="form-control" , name="Ad" placeholder="Kategori Adı" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>


